@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Mulish', sans-serif;
}

.container{
    width:82%;
    max-width: 1320px;
    margin:0 auto;
    border:1px solid red;
}

.btn_primary{

    background: #FF5400;
    color: #ffff;
    border: 0px solid;
    padding:10px;
    font-size: 16px;
    border-radius: 8px;

}

.btn_primary:hover{
    background: #1b3a4e;
    cursor:pointer;
    opacity:0.5;
    font-size:15px;
    transition-duration: 0.3s;

}
.btn_primary img{
    margin-right: 5px;
    margin-bottom: -3px;
}
/* header section style */
nav ul li a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav ul li a:hover{
    color:rgb(196, 35, 13);
}
nav ul li{
    
    list-style:none;
    display:inline-block;
    margin-left:30px;
}

.active{
    padding:5px;
    border-radius:10px;
    color:#FF5400;
}
.active:hover{
    background:#fff;
    color:#424247;
    transition:0ms;
}

.header_area{
    margin-top:55px;
    display: flex;
    justify-content: space-between;
}
.travel_logo{
    display:flex;
}
.travel_logo h1{
    margin-left:5px;
}
.travel_logo h1 span{
    color:#FF5400;
}

/* banner area style */
.banner_area{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size:cover;
    height:500px;
    margin-top:60px;
    background-position: center;
    border-radius:10px;
}

.explore_travel{
    text-align: center;
    padding-top:105px;
}

.explore_travel h1{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}
.explore_travel p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width:50%;
    margin: 0 auto;
}

.travel_time{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 60%;
    text-align: center;
    margin: 0 auto;
    display:flex;
    padding: 16px;
    gap: 24px;
    margin-top:40px;
}

.travel_time input , label{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);

border-radius: 8px;
background: #FFF;

color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 20px;
padding: 10px;
border:none;
}

#packages{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: normal; */
    /* height: 20px; */
    padding: 10px;
    border: none;
}

/* Destination place style */
.choose_destination_area{
    margin-top:20%;
}
.destination_place span{
    color: red;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
margin-top:6%;
}
.destination_txt{
    text-align: center;
    margin-bottom:8%;
}
.destination_txt h1{
    color: #131318;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.destination_txt p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 60%;
    margin: 0 auto;
    margin-top: 27px;
}
.upper_row{
    display:flex;
    gap:20px;
}
.upper_row span{
    color: #fff;
    /* text-align: center; */
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: 8%;
    margin-left: 13%;
}
.upper_row img {
    width: 650px;
    height: auto;
    object-fit: cover;
    flex:1;
}

.middle_row{
    display:flex;
    gap:20px;
    margin-top:24px;
}

.middle_row span{
        color: #fff;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: absolute;
margin-top: 8%;
margin-left: 8%;
}

.last_row{
    display: flex;
    gap:20px;
    margin-top:24px;
}



.lanka img{
    width: 430px;
height: auto;}

.america{
    width: 537px;
/* height: auto; */
object-fit: cover;
}
.Kashmir img{
    width: 313px
}
.Kashmir span{
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: 8%;
    margin-left: 105px;
}
.bd span{
    margin-top: 7%;
    margin-left: 10%;
    color: #ffff;
}

.bandar span{
    margin-top: 7%;
    margin-left: 15%;
    color: #ffff;
    
}
.bd img{
    width:536px ;  
}
.bandar img{
    width:764px;
}
/* Popular tour area */
.popular_tours_area{
    display:flex;
    margin-top:150px;
    justify-content: space-between;
}
.popular_tours_content{
    width:50%;

}
.popular_tours_area h1{
color: #131318;
text-align: justify;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 18px;
}

.popular_tours_area p li{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.popular_tours_area li{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    padding:5px;
}

/* choosing area facilities style */

.heading_area{
    text-align: center;
 
}
.heading_area h1{
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.heading_area p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top:20px;
}
.choosing_reason_area{
    margin-top:150px;
}
.reason_part_one{
    margin-top:100px;
    display:flex;
    justify-content: space-between;
   
}

.reason1{
    width:40%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding:50px;
  
}
.reason1 p{
    margin-top: 10px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    /* padding-bottom: 10px; */
    
}
.reason1 h3{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:10px;

}
.reason1{
    width:40%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding:50px;
  
}
.reason1 p{
    margin-top: 10px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    /* padding-bottom: 10px; */
    
}
.reason1 h3{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:10px;
    margin-top:15px;

}
.reason2{
    width:40%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding:50px;
  
}
.reason2 p{
    margin-top: 10px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    /* padding-bottom: 10px; */
    
}
.reason2 h3{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:10px;
    margin-top:15px;
}
.reason3{
    width:40%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding:50px;
  
}
.reason3 p{
    margin-top: 10px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    /* padding-bottom: 10px; */
    
}
.reason3 h3{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:10px;
    margin-top:15px;
}

.reason_part_two{
    margin-top:24px;
    margin-left:31%;
}

/* Newsletter area styles */
.newsletter_area{
    margin-top:150px;
    display:flex;
    justify-content: space-between;

}
.newsletter_content{
    padding:25px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    background: #fff;
    width: 43%;
}
.newsletter_content h2{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.newsletter_content p{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top:15px;
    margin-bottom: 15px;
}
.subscribe_form{
    margin-top:40px;
}
.subscribe{
    width: 89%;
    margin-left: 17px;
    margin-bottom: 15px;
    margin-top: 13px;
}
.subscribe_form input{
    /* border-radius: 8px; */
    /* background: rgba(255, 255, 255, 0.30); */
    width: 83%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.50);
    /* font-family: Mulish; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* height: 20px; */
    padding: 10px;
    border: none;
    margin-bottom: 25px;
    padding: 16px;
    margin-left: 10px;
}
.degree{
    transform: rotate(-19.628deg);
    position: relative;
    /* float: right; */
    margin-top: -149px;
    margin-left: 56%;
    background: rgba(255, 84, 0, 1);
    /* padding: 10px; */
    border-radius: 10px;
    text-align: center;
    /* height: 14%; */
    padding-top: 15px;
    padding-bottom: 15px;
    width: 43%;
}
.degree h3{
    color: #FFF;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.degree h6{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer_area{
    text-align: center;
    margin-top:100px;
    background: rgba(19, 19, 24, 0.05);
}

.footer{
margin-top:15%;
}
.footer p{
    width:50%;
    margin:0 auto;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.footer h1{
    margin-left:5px;
}
.footer h1 span{
    color:#FF5400;
}
.footer_txt{
    display: flex;
    justify-content: center;
    margin-bottom:50px;
    padding-top:8%;
}

.social_icon{
    margin-top:3%;
    margin-bottom: 3%;

}
.social_icon img{
    margin-right:2%
}
.copyright{
    margin-top:3%;
    padding-bottom: 5%;
}




